{% extends 'base.html'%}
{% load static %}
{% block content %}

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3 text-center">Welcome</h3>
              <h3 class="card-title text-left mb-3 text-center">App Django</h3>
              <form method="">
                <div class="text-center">
                  <a href="{% url 'list_tasks' %}">Iniciar Tarea</a>
                </div>                
              </form>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static '../../crud_bvc/vendors/js/vendor.bundle.base.js'%}"></script>
  <script src="{% static '../../crud_bvc/js/off-canvas.js'%}"></script>
  <script src="{% static '../../crud_bvc/js/hoverable-collapse.js'%}"></script>
  <script src="{% static '../../crud_bvc/js/misc.js'%}"></script>
  <script src="{% static '../../crud_bvc/js/settings.js'%}"></script>
  <script src="{% static '../../crud_bvc/js/todolist.js'%}"></script>
  <!-- endinject -->
</body>

{% endblock%}