{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="table-responsive">
  <table class="table"> 
    <thead>
      <tr>
        <th> Foto</th>
        <th> Nombre</th>
        <th> Apellido</th>
        <th> Edad</th>
        <th> Fecha de creacion</th>
        <th> Fecha de modificacion</th>
        <th> Editar</th>
        <th> Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {%for data in object_list%} <!--Se modifica object_list para el recorrido del for-->
         <tr>
          <td> <img src="../media/{{data.foto}}" alt="🚫"width="100"></td>
          <td> <h5 class="card-title">{{data.nombre}}</h5></td>
          <td> {{data.apellido}} </td>
          <td> {{data.edad}} </td>
          <td> {{data.created_at}}</td>
          <td> {{data.updated_at}}</td>
          <td><a href="{% url "update" data.id %}"  class="btn btn-primary">Editar</a></td>
          <td><a href="{% url "delete" data.id %}" class="btn btn-danger">Eliminar</a></td>
      </tr>
          </tr>
       {% endfor %}
      </table>
</div>
{%endblock%}